Imports:

In [20]:
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns

Define DF

In [21]:
df = pd.read_csv('../data/users_data.csv')

df.head(3)

   ID    Name  Score                  Registered  Active
0   1  User_1  37.45  2024-10-08 17:09:38.322188    True
1   2  User_2  95.07  2024-07-28 17:09:38.334860   False
2   3  User_3  73.20  2024-11-27 17:09:38.338768    True